.btn{
    border: 2px solid orangered;
    background-color: transparent;
}

.ex{
    background: transparent!important;
    justify-content: space-around;
}
h1{
    font-size: 60px;
    
}
.container{
    background-color:transparent;
   
    margin-top: 12px;
}

button{
    background-color: black;
    color: whitesmoke;
    padding: 15px;
    border: none;
    margin-bottom: 10px;
}
.hero{
    display: flex;
    align-items: center;  
}
.container{
    width: 50%;
    padding-left: 100px;    
}
.image{
    width: 50%;
}
.amazon{
    display: flex;
    align-items: center;    
    margin-left: 30px;
    
}
.b{
    padding-left: 130px;
}
.service{

    margin-top: 80px;
}
.service{
    display: flex;
    align-items: center;  
}
.heading h1{
    background-color: greenyellow;
    margin-left: 50px;
}
.para{
    margin-left: 20px;
    font-size: 15px;
}